<div class="containerCards">
  <!-- ****** card angular ****** -->
  <div class="cardSkill"
  data-aos="fade-up"
  data-aos-duration="3000">
    <div class="bxIcon">
     <!--  <a href="">
        <i class="fa-brands fa-whatsapp"></i>

      </a> -->
      <i class="fa-brands fa-angular"></i>
      <!-- <i class="pi pi-check"></i> -->
    </div>
    <div class="content">
      <h2>Angular</h2>
      <p>
        Design of web applications, micro frontend and consumption of services
      </p>
    </div>
  </div>
  <!-- ****** card angular ****** -->

  <!-- ****** card html5 ****** -->
  <div class="cardSkill"
  data-aos="fade-up"
  data-aos-duration="3000">
    <div class="bxIcon">
      <i class="fa-brands fa-html5"></i>
    </div>
    <div class="content">
      <h2>html5</h2>
      <p>
        layout for different mobile devices
      </p>
    </div>
  </div>
  <!-- ****** card html5 ****** -->

  <!-- ****** card Css3 ****** -->
  <div class="cardSkill"
  data-aos="fade-up"
  data-aos-duration="3000">
    <div class="bxIcon">
      <i class="fa-brands fa-css3-alt"></i>
    </div>
    <div class="content">
      <h2>Css3</h2>
      <p>
        Responsive web design, adapting any need
      </p>
    </div>
  </div>
  <!-- ****** card Css3 ****** -->

  <!-- ****** card GIT ****** -->
  <div class="cardSkill"
  data-aos="fade-up"
  data-aos-duration="3000">
    <div class="bxIcon">
      <i class="fa-brands fa-git"></i>
    </div>
    <div class="content">
      <h2>Git</h2>
      <p>
        Version control and teamwork, using different remote tools such as github and gitlab.
      </p>
    </div>
  </div>
  <!-- ****** card GIT ****** -->

</div>
