.containerCards{
  .cardSkill{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //justify-content: center;
    //align-items: flex-start;
    position: relative;
    width: 220px;
    height: 300px;
    background: var(--base-background-gradient);
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 10px 0 #fff,
    inset 0 -10px 0 green,
    0 45px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 20px 0px;
    .bxIcon{
      position: relative;
      width: 130px;
      height: 110px;
      background: var(--base-primary-color);
      //border-radius: 50%;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;

      box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
      inset 0 -8px 0 #fff;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      /* a{
        i.fa-whatsapp{
          color: #fff;
        }
      } */
      .fa-angular{
        color: red;
        position: relative;
        font-size: 3em;
        z-index: 10000;
      }

      .fa-html5{
        color: #fd6529;
        position: relative;
        font-size: 3em;
        z-index: 10000;
      }

      .fa-css3-alt{
        color: #0672b9;
        position: relative;
        font-size: 3em;
        z-index: 10000;
      }

      .fa-git{
        color: #e84e31;
        position: relative;
        font-size: 3em;
        z-index: 10000;
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-top-right-radius: 30px;
        box-shadow: 15px -15px 0 15px var(--base-primary-color);
        border: none;
      }

      &::after{
        content: '';
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-top-left-radius: 30px;
        box-shadow: -15px -15px 0 15px var(--base-primary-color);
        border: none;
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 300px;
      //background: red;
      margin-top: 10px;
      color: var(--font-color-light);
      h2{
        margin: 5px 0px;
        font-weight: 800;
      }
      p{
        font-weight: 800;
        text-align: justify;
      }
    }
  }
}

@media screen and (min-width: 800px){
  .containerCards{
    .cardSkill{
      margin: 30px 20px;
    }
  }
}
