<div class="containerS">
  <!-- ****** card angular ****** -->
  <div class="cardSkill">
    <div class="bxIcon">
     <!--  <a href="">
        <i class="fa-brands fa-whatsapp"></i>

      </a> -->
      <i class="fa-brands fa-angular"></i>
      <!-- <i class="pi pi-check"></i> -->
    </div>
    <div class="content"></div>
  </div>
  <!-- ****** card angular ****** -->

  <!-- ****** card html ****** -->
  <!-- <div class="cardSkill">
    <div class="bxIcon">
      <i class="fa-brands fa-html5"></i>
    </div>
    <div class="content"></div>
  </div> -->
  <!-- ****** card html ****** -->
</div>
