<div class="body-banner">
  <section class="banner-container">
    <div class="banner-content">
      <h3 class="greeting">Hello, It's me</h3>
      <h1>Oscar Mauricio Giraldo Herrera</h1>
      <h2>Systems and computer engineer</h2>
      <h3>And I'm a <span>Frontend Developer</span> </h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis quibusdam voluptas dolorem dolores cupiditate nobis reprehenderit dolore soluta. Iste quisquam minima ducimus rem illum natus placeat exercitationem repellat sint corrupti!
      </p>

      <div class="social-media">
        <a href="https://github.com/oscarmauriciogiraldo" class="icon-border">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://gitlab.com/oscargiraldo618" class="icon-border">
          <i class="fa-brands fa-gitlab"></i>
        </a>
        <a href="https://www.linkedin.com/in/oscar-mauricio-giraldo-herrera-585991222/" class="icon-border">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/oscargiraldoherrera/" class="icon-border">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=3192239804&text=mensaje" class="icon-border">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>

      <div class="content2-button">
        <button routerLink="/Curriculum-Vitae">get curriculum vitae</button>
      </div>
    </div>
    <div class="banner-avatar-perfil">
      <div class="greeting">
        <h3>Hello, It's me</h3>
      </div>
      <div class="content-hexagono">
        <div class="hexagano-image">
          <img src="assets/img/perfil/profile6.png" alt="">
        </div>
      </div>
      <div class="social-media">
        <a href="https://github.com/oscarmauriciogiraldo" class="icon-border">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://gitlab.com/oscargiraldo618" class="icon-border">
          <i class="fa-brands fa-gitlab"></i>
        </a>
        <a href="https://www.linkedin.com/in/oscar-mauricio-giraldo-herrera-585991222/" class="icon-border">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/oscargiraldoherrera/" class="icon-border">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=3192239804&text=mensaje" class="icon-border">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>

      <div class="content-button">
        <button routerLink="/Curriculum-Vitae">get curriculum vitae</button>
      </div>
    </div>
  </section>
</div>
