<div class="containerCards">

  <!-- ############ Card Gala Virtual ############ -->
  <div class="cardExpirience"
    data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-duration="1000"
     data-aos-delay="300">
    <div class="imgBox">
      <img src="../../../../../assets/img/projects/galaVirtual.jpeg" alt="">
    </div>
    <div class="contentBox">
      <h3>
        Gala Virtual
      </h3>
      <div class="boxIcons">
        <a href="">
          <i class="fa-solid fa-laptop-code"></i>
        </a>
      </div>
      <div class="boxText">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, officia.
        </p>
      </div>
    </div>
  </div>
  <!-- ############ Card Gala Virtual ############ -->

  <!-- ############ Card Feria Virtual ############ -->
  <div class="cardExpirience"
    data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-duration="1000"
     data-aos-delay="300">
    <div class="imgBox">
      <img src="../../../../../assets/img/projects/feriaVirtual.jpg" alt="">
    </div>
    <div class="contentBox">
      <h3>
        Feria Virtual
      </h3>
      <div class="boxIcons">
        <a href="">
          <i class="fa-solid fa-laptop-code"></i>
        </a>
      </div>
      <div class="boxText">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, officia.
        </p>
      </div>
    </div>
  </div>
  <!-- ############ Card Feria Virtual ############ -->

  <!-- ############ Card Lafer Siendo Seguro ############ -->
  <div class="cardExpirience"
    data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-duration="1000"
     data-aos-delay="300">
    <div class="imgBox">
      <img src="../../../../../assets/img/projects/posterSiendoSeguro.png" alt="">
    </div>
    <div class="contentBox">
      <h3>
        Siendo Seguro - Lafer
      </h3>
      <div class="boxIcons">
        <a href="">
          <i class="fa-solid fa-laptop-code"></i>
        </a>
      </div>
      <div class="boxText">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, officia.
        </p>
      </div>
    </div>
  </div>
  <!-- ############ Card Lafer Siendo Seguro ############ -->

  <!-- ############ Card Venta online Baloto ############ -->
  <div class="cardExpirience"
    data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-duration="1000"
     data-aos-delay="300">
    <div class="imgBox">
      <img src="../../../../../assets/img/projects/banner-inicio.png" alt="">
    </div>
    <div class="contentBox">
      <h3>
        Venta Online Baloto
      </h3>
      <div class="boxIcons">
        <a href="">
          <i class="fa-solid fa-laptop-code"></i>
        </a>
      </div>
      <div class="boxText">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, officia.
        </p>
      </div>
    </div>
  </div>
  <!-- ############ Card Venta online Baloto ############ -->

</div>
