<div class="body-cv">
  <div class="container">

    <div class="left_side">
        <div class="porfileProfesional">
            <div class="imgBx">
                <img src="assets/img/profile.jpg" alt="">
            </div>
            <h2>
                Oscar Mauricio Giraldo Herrera <br>
                <span> Desarrollador Web </span>
                <span> Ingeniero de Sistemas y Computación </span>
            </h2>
            <h5>
                <span>Tarjeta Profesional <br> N° 66967-033296 RIS</span>
            </h5>
        </div>

        <div class="contacInfo-perfilProfesional">
            <h3 class="title">Contacto</h3>
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <span class="text">+57 319 2239804</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <span class="text">oscardan@utp.edu.co</span>
                </li>

                <li>
                    <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
                    <span class="text">github.com/oscarmauriciogiraldo</span>
                </li>

                <li>
                    <span class="icon"><i class="fa fa-gitlab" aria-hidden="true"></i></span>
                    <span class="text">gitlab.com/oscargiraldo618</span>
                </li>

                <li>
                    <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    <span class="text">www.linkedin.com/in/oscar-mauricio-giraldo-herrera-8712311b7/</span>
                </li>

                <li>
                    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span class="text">Pereira - Risaralda - Colombia</span>
                </li>
            </ul>
        </div>

        <div class="contacInfo-perfilProfesional education">
            <h3 class="title">EDUCACIÓN</h3>
            <ul>
                <li>
                    <h5>2015 - 2021</h5>
                    <h4>Ingeniería de Sistemas Y Computación</h4>
                    <h4>Universidad Tecnológica de Pereira UTP</h4>
                </li>
                <li>
                    <h5>2012 - 2014</h5>
                    <h4>Tecnólogo en Análisis y Desarrollo de Sistemas de Información</h4>
                    <h4>SENA: Centro de Comercio y Servicios Pereira Risaralda</h4>
                </li>
            </ul>
        </div>

        <div class="contacInfo-perfilProfesional language">
            <h3 class="title">Idiomas</h3>
            <ul>
                <li>
                    <span class="text">Ingles</span>
                    <span class="percent">
                        <div style="width: 40%;"></div>
                    </span>
                </li>
                <li>
                    <span class="text">Español</span>
                    <span class="percent">
                        <div style="width: 90%;"></div>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="right_side">
        <div class="about">
            <h2 class="title2">PERFIL PROFESIONAL</h2>
            <p>
                Soy una persona responsable con el cumplimiento de su deber, tecnólogo en análisis
                y desarrollo de sistemas de información, e Ingeniero
                de Sistemas y computación de la Universidad Tecnológica de Pereira.<br><br>
                Soy comprometido en el área de aprendizaje para los temas de interés, en especial
                en aquellos que aportan a mi crecimiento profesional.<br>
                Respecto a experiencia laboral, el enfoque que he tenido ha
                sido en desarrollo web del lado del cliente <b><i>(Frontend)</i></b> y tambien del lado del servidor
                <b><i>(Backend)</i></b> Desarrollandome poco a poco como un desarrollador <b>FullStack.</b>
                Este enfoque se amplía un poco al desarrollo de aplicaciones móviles, o aplicaciones Web multiplataforma.
                Especializado en el área de la Ingeniería de software e UI/UX (User Interface And User experience)

            </p>
        </div>

        <div class="about">
            <h2 class="title2">Experiencia Laboral</h2>

            <div class="box">
                <div class="year_company">
                    <h5>2021 - 2022</h5>
                    <!--<h5><a href="http://www.inforcol.com/">Inforcol</a></h5>-->
                    <h5>Inforcol</h5>
                </div>
                <div class="text">
                    <h4>Analista Desarrollador B1</h4>
                    <p>
                        <b>Funciones realizadas:</b>
                        Soporte para resolver bugs en el desarrollo de una aplicacion Oracle ADF, y
                        desplegar esta aplicacion en el servidor de aplicaciones WebLogic.<br>


                    </p>
                </div>
            </div>

            <div class="box">
                <div class="year_company">
                    <h5>2019 - 2021</h5>
                    <h5>Mentapplizate UTP</h5>
                </div>
                <div class="text">
                    <h4>Monitor en desarrollo Web</h4>
                    <h4>Desarrollador Junior Angular - Ionic</h4>
                    <p>
                        <b>Funciones realizadas:</b>
                        Acompañamiento al desarrollo del proyecto de la plataforma Mentapplizate
                        y la aplicación móvil de esta. Actualizando la versión de Ionic 3 a Ionic 4 e implementación del PWA.<br>
                        Para el siguiente año la función realizada fue como Junior UI/UX Designer, diseñando algunas modalidades
                        de la plataforma, encuanto a desarrollo utilizando lenguajes como NodeJs, HTML y CSS3.<br>
                        En los últimos meses, acompañe el  desarrollo del proyecto en laravel liveware del lado del Front.

                    </p>
                </div>
            </div>

            <div class="box">
                <div class="year_company">
                    <h5>2020 - 2021</h5>
                    <h5>FreeLance Independiente</h5>
                </div>
                <div class="text">
                    <h4>Diseñador Junior UI/UX Y Desarrollador Frontend Angular 11 - Aframe</h4>
                    <p>
                        <b>Funciones realizadas:</b>
                        Desarrollador Front de una Expo Feria virtua, y una Gala Virtual, esta feria
                        es interactiva con tecnologia 3D para la web.<br>


                    </p>
                </div>
            </div>
        </div>

        <div class="about skills">
            <h2 class="title2">HABILIDADES</h2>
            <div class="box">
                <h4>Html5 y Css3</h4>
                <div class="percent">
                    <div style="width: 80%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>JavaScript</h4>
                <div class="percent">
                    <div style="width: 30%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>Angular</h4>
                <div class="percent">
                    <div style="width: 70%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>Php - Laravel - Liveware</h4>
                <div class="percent">
                    <div style="width: 25%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>SQL</h4>
                <div class="percent">
                    <div style="width: 50%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>python</h4>
                <div class="percent">
                    <div style="width: 50%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>Java</h4>
                <div class="percent">
                    <div style="width: 35%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>Bootstrap</h4>
                <div class="percent">
                    <div style="width: 60%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>ThreeJs - AFrame</h4>
                <div class="percent">
                    <div style="width: 50%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>Adobe XD, Figma</h4>
                <div class="percent">
                    <div style="width: 80%;"></div>
                </div>
            </div>

            <div class="box">
                <h4>ilustrator</h4>
                <div class="percent">
                    <div style="width: 25%;"></div>
                </div>
            </div>
        </div>

        <div class="about interest">
            <h2 class="title2">INTERESES</h2>
            <ul>
                <li>Musica</li>
                <li>Guitarra</li>
                <li>Guitarra Electrica</li>
                <li>Ciclo Montañismo</li>
                <li>Natacion</li>
                <li>Gym</li>
                <li>Cine</li>
            </ul>
        </div>
    </div>
  </div>
</div>
