<div class="body-cv">

  <div class="container">

    <div class="left_side">


      <section class="home" id="home">

        <!-- section bd-grid -->
        <div class="homeContainer">

            <!--  bd-grid -->
            <div class="homeData">
                <!-- bxImg -->
              <div class="bxPerfilImg">
                  <img src="assets/img/perfil/perfilPhoto.png" alt="" class="homeImg">
              </div>
              <!-- <img src="assets/img/perfilPhoto.png" alt="" class="homeImg"> -->

              <h1 class="homeTilte">Oscar Mauricio Giraldo Herrera</h1>
              <h2 class="homeProfesion">Ingeniero de sistemas y computacion - UTP</h2>
              <h2 class="homeProfesion">Fronten Developer</h2>

              <div class="profesionalCard">
                  <h3 class="cardProfesion">TARJETA PROFESIONAL</h3>
                  <h3 class="cardProfesion"> N° 66967-033296 RIS</h3>
              </div>

              <!-- button to download your CV saved in the pdf folder -->
              <!-- <div class="downloadButton">
                  <a href="assets/pdf/resumeCv.pdf" class="homeButtonMovil">Download</a>
              </div> -->
            </div>

            <div class="homeAddres">



                <span class="homeinformation">
                    <i class="fa-brands fa-linkedin iconHome"></i>
                    <a href="https://www.linkedin.com/in/oscar-mauricio-giraldo-herrera" target="_blank" rel="noopener noreferrer">
                        Oscar Giraldo
                        <i class="fa-solid fa-link"></i>
                    </a>
                </span>

                <span class="homeinformation">
                    <i class="fa-solid fa-briefcase iconHome"></i>
                    <a href="https://oscarmauriciogiraldo.github.io/portfolio/Porfolio-Oscar-Giraldo" target="_blank" rel="noopener noreferrer">
                        Portfolio
                        <i class="fa-solid fa-link"></i>
                    </a>
                </span>

                <span class="homeinformation">
                    <i class="fa-solid fa-envelope iconHome"></i>
                    oscardan@utp.edu.co
                </span>

                <span class="homeinformation">
                    <i class="fa-brands fa-whatsapp iconHome"></i>
                    <a href="https://api.whatsapp.com/send?phone=3192239804&text=mensaje" target="_blank" rel="noopener noreferrer">
                        +57 319 223 9804
                        <i class="fa-solid fa-link"></i>
                    </a>
                </span>

                <span class="homeinformation">
                    <i class="fa-brands fa-github iconHome"></i>
                    <a href="https://github.com/oscarmauriciogiraldo" target="_blank" rel="noopener noreferrer">
                        GitHub Perfil
                        <i class="fa-solid fa-link"></i>
                    </a>
                </span>

                <span class="homeinformation">
                    <i class="fa-brands fa-gitlab iconHome"></i>
                    <a href="https://gitlab.com/oscargiraldo618" target="_blank" rel="noopener noreferrer">
                        GitLab Perfil
                        <i class="fa-solid fa-link"></i>
                    </a>
                </span>

                <!-- <span class="homeinformation">
                    <i class="fa-solid fa-location-dot iconHome"></i>
                    Pereira - Risaralda - Colombia
                </span> -->

                <span class="homeinformation">
                  <i class="fa-solid fa-location-dot iconHome"></i>
                  Bucaramanga - Santander - Colombia <br>
                  Calle 110 #15-13 apto 401 punta paraiso
                </span>

            </div>
        </div>

      </section>

      <!-- <div class="porfileProfesional">
          <div class="imgBx">
              <img src="assets/img/perfil/perfilPhoto.png" alt="">
          </div>
          <h2>
            Oscar Mauricio Giraldo Herrera <br>
          </h2>
          <span> Ingeniero de Sistemas y Computación </span> <br>
          <span> Frontend developer </span>

          <h5>
              <span>Tarjeta Profesional <br> N° 66967-033296 RIS</span>
          </h5>
      </div> -->

      <!-- <div class="contacInfo-perfilProfesional">
        <h3 class="title">Contacto</h3>
        <ul>
            <li>
                <span class="icon"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></span>
                <span class="text">
                  <a href="https://api.whatsapp.com/send?phone=3192239804&text=mensaje">
                    +57 319 2239804
                  </a>
                </span>
            </li>
            <li>
                <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span class="text">
                  <a href="">oscardan@utp.edu.co</a>
                </span>
            </li>

            <li>
              <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <span class="text">
                <a href="">oscargiraldo618@gmail.com</a>
              </span>
            </li>

            <li>
                <span class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></span>
                <span class="text">
                  <a href="https://github.com/oscarmauriciogiraldo">
                    @oscarmauriciogiraldo
                  </a>
                </span>
            </li>

            <li>
                <span class="icon"><i class="fa-brands fa-gitlab" aria-hidden="true"></i></span>
                <span class="text">
                  <a href="https://gitlab.com/oscargiraldo618">
                    @oscargiraldo618
                  </a>
                </span>
            </li>

            <li>
                <span class="icon"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></span>
                <span class="text">
                  <a href="www.linkedin.com/in/oscar-mauricio-giraldo-herrera-8712311b7/">
                    oscar-mauricio-giraldo-herrera
                  </a>
                </span>
            </li>

            <li>
              <span class="icon"><i class="fa-brands fa-github-alt"></i></span>
              <span class="text">
                <a href="">Portfolio Oscar</a>
              </span>
            </li>

            <li>
                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span class="text">Pereira - Risaralda - Colombia</span>
            </li>
        </ul>
      </div> -->

      <div class="contacInfo-perfilProfesional education">
        <h3 class="title">EDUCACIÓN</h3>
        <ul>
          <li>
            <h5>2015 - 2021</h5>
            <h4>Ingeniería de Sistemas Y Computación</h4>
            <h4>Universidad Tecnológica de Pereira UTP</h4>
          </li>
          <li>
            <h5>2012 - 2014</h5>
            <h4>Tecnólogo en Análisis y Desarrollo de Sistemas de Información</h4>
            <h4>SENA: Centro de Comercio y Servicios Pereira Risaralda</h4>
          </li>
        </ul>
      </div>

      <div class="contacInfo-perfilProfesional education">
        <h3 class="title">Certificaciones</h3>
        <ul>
          <li>
            <h5>2023</h5>
            <h4>Introduccion a JAVA SE</h4>
            <h4>Patzi</h4>
          </li>
        </ul>
      </div>

      <!-- <div class="contacInfo-perfilProfesional language">
          <h3 class="title">Idiomas</h3>
          <ul>
              <li>
                  <span class="text">Ingles</span>
                  <span class="percent">
                      <div style="width: 40%;"></div>
                  </span>
              </li>

          </ul>
      </div> -->

      <div class="contacInfo-perfilProfesional references">
        <h3 class="title">Referencias Personales</h3>
        <ul>
            <li>
                <span class="text">Jhon Sebastian Delgado Diaz</span><br>
                <span class="text">Profesional de Vías Clínicas Gestión Clínica</span><br>
                <span class="text">3192994609</span>
            </li>

            <li>
              <span class="text">Maria Angélica Padilla Rincón</span><br>
              <span class="text">Enfermera Fundación Cardiovascular</span><br>
              <span class="text">316 6090119</span>
            </li>
            <!-- <li>
                <span class="text">Español</span>
                <span class="percent">
                    <div style="width: 100%;"></div>
                </span>
            </li> -->
        </ul>
      </div>

      <div class="contacInfo-perfilProfesional references">
        <h3 class="title">Referencias Familiares</h3>
        <ul>
            <li>
                <span class="text">Sandra Liliana Herrera Giraldo</span><br>
                <span class="text">Administradora Industrial</span><br>
                <span class="text">3218156065</span>
            </li>

            <li>
              <span class="text">Andres Felipe Giraldo Herrera</span><br>
              <span class="text">Autoridad sanitaria del municipio Pereira</span><br>
              <span class="text"> 320 6511741</span>
            </li>
            <!-- <li>
                <span class="text">Español</span>
                <span class="percent">
                    <div style="width: 100%;"></div>
                </span>
            </li> -->
        </ul>
      </div>

      <!-- <div class="references">

      </div> -->
    </div>

    <div class="right_side">
      <div class="about">
        <h2 class="title2">PERFIL PROFESIONAL</h2>
        <p>
          Afronto con responsabilidad los desafíos de cada proyecto,
          destacando por mis habilidades en investigación y trabajo
          en equipo. En el vasto universo del desarrollo web, si me
          encuentro con algo desconocido, me esfuerzo por adquirir
          los conocimientos necesarios para superar cada reto
          propuesto.
          <br><br>
          Estoy comprometido con el aprendizaje, especialmente
          en las áreas que contribuyen a mi desarrollo profesional.
          <br>
          En cuanto a mi experiencia laboral, me he centrado en el
          desarrollo web tanto en el lado del cliente <b><i>(Frontend)</i></b> como
          en el del servidor <b><i>(Backend)</i></b>, con miras a convertirme en un
          desarrollador <b>FullStack.</b> en el futuro y seguir creciendo
          profesionalmente en el mundo del desarrollo web.
          <br>
          Además, mi enfoque se extiende al desarrollo de aplicaciones móviles y
          aplicaciones web multiplataforma. Estoy especializado en el
          campo de la Ingeniería de Software y en la mejora de la
          Experiencia de Usuario (UI/UX)
        </p>
      </div>

      <div class="about laboral">
        <h2 class="title2">Experiencia Laboral</h2>

        <div class="box column">
          <div class="year_company">
              <h5>2022-2023</h5>
              <!--<h5><a href="http://www.inforcol.com/">Inforcol</a></h5>-->
              <h5>
                <a href="https://www.codesa.com.co/">
                  Codesa
                </a>
              </h5>
          </div>
          <div class="text">
              <h4>Desarrollador Front-end</h4>
              <p>
                <b>Funciones realizadas:</b>
                Inicié el desarrollo desde cero del proyect
                <a href="https://www.siendoseguro.com/ss-portal-web-home/home">Siendo Seguro</a>,
                para Lafer, una aplicación, asumiendo el rol de desarrollador Front-end utilizando
                el Framework AngularJS.
                <br>
                Realicé la maquetación de la aplicación con un diseño responsivo conforme
                a las especificaciones del Diseño UI/UX proporcionado en los Mockups por el cliente.<br>

                Además, participé en la integración de servicios Rest API proporcionados
                por el equipo de Back-end.<br>

                Todas estas actividades se llevaron a cabo siguiendo la metodología ágil Scrum,
                cumpliendo con los tiempos de entrega de los diferentes Sprints.<br>
                Cada Sprint del proyecto se desplegaba en las diversas ramas creadas
                en el repositorio del proyecto en GitLab para trabajar en colaboración con el equipo Front-end.
              </p>
          </div>
        </div>

        <div class="box column">
            <div class="year_company">
                <h5>2021 - 2022</h5>
                <!--<h5><a href="http://www.inforcol.com/">Inforcol</a></h5>-->
                <h5>Inforcol</h5>
            </div>
            <div class="text">
                <h4>Analista Desarrollador B1</h4>
                <p>
                  Proporcioné soporte para solucionar problemas en el desarrollo
                  de una aplicación Oracle ADF y para implementar esta
                  aplicación en el servidor de aplicaciones WebLogic.<br>
                </p>
            </div>
        </div>

        <div class="box column">
            <div class="year_company">
                <h5>2019 - 2021</h5>
                <h5>Mentapplizate UTP</h5>
            </div>
            <div class="text">
                <h4>Monitor en desarrollo Web</h4>
                <h4>Desarrollador Junior Angular - Ionic</h4>
                <p>
                    <b>Funciones realizadas:</b>
                    Participé en el desarrollo de la plataforma Mentapplizate y su aplicación móvil,
                    actualizando la versión de Ionic de 3 a 4 e implementando el PWA.
                    Durante el siguiente año, asumí el rol de Junior UI/UX Designer, diseñando algunas
                    partes de la plataforma y trabajando en el desarrollo utilizando tecnologías como NodeJs, HTML y CSS3 <br>
                    En los últimos meses, colaboré en el desarrollo del proyecto en Laravel Livewire desde el lado del Front-end.

                </p>
            </div>
        </div>

        <div class="box column">
            <div class="year_company">
                <h5>2020 - 2021</h5>
                <h5>FreeLance Independiente</h5>
            </div>
            <div class="text">
                <h4>Diseñador Junior UI/UX Y Desarrollador Frontend Angular 11 - Aframe</h4>
                <p>
                    <b>Funciones realizadas:</b>
                    DISEÑADOR JUNIOR UI/UX Y DESARROLLADOR FRONTEND ANGULAR 11 - AFRAME

                    Desarrollé el Front-end de una Expo Feria virtual y una Gala Virtual.
                    La feria era interactiva y utilizaba tecnología 3D para la web.
                </p>
            </div>
        </div>
      </div>

      <div class="aboutSkills">
          <h2 class="title2">HABILIDADES</h2>

          <div class="skills">


            <div class="box" id="html">
              <i class="fa-brands fa-html5 icon"></i>
              <h4>Html5</h4>
              <!-- <div class="percent">
                  <div style="width: 80%;"></div>
              </div> -->
            </div>

            <div class="box" id="css">
              <i class="fa-brands fa-css3 icon"></i>
              <h4>Css3 - Sass</h4>
              <!-- <div class="percent">
                  <div style="width: 80%;"></div>
              </div> -->
            </div>

            <div class="box" id="js">
              <i class="fa-brands fa-square-js icon"></i>
                <h4>

                  JavaScript
                </h4>
                <!-- <div class="percent">
                    <div style="width: 30%;"></div>
                </div> -->
            </div>

            <div class="box" id="angular">
              <i class="fa-brands fa-angular icon"></i>
                <h4>

                  Angular
                </h4>
                <!-- <div class="percent">
                    <div style="width: 75%;"></div>
                </div> -->
            </div>

            <div class="box" id="3dThreejs">
              <i class="fa-solid fa-cube icon"></i>
              <h4>ThreeJs - AFrame</h4>
              <!-- <div class="percent">
                  <div style="width: 50%;"></div>
              </div> -->
            </div>

            <div class="box" id="backebdjava">
              <i class="fa-brands fa-java icon"></i>
                <h4>Java</h4>
                <!-- <div class="percent">
                    <div style="width: 35%;"></div>
                </div> -->
            </div>

            <div class="box" id="backendPython">
              <i class="fa-brands fa-python icon"></i>
              <h4>python</h4>
              <!-- <div class="percent">
                  <div style="width: 50%;"></div>
              </div> -->
            </div>

            <div class="box" id="ui/ux">

              <i class="fa-brands fa-figma icon"></i>
              <h4>
                UI/UX <br>
                Adobe XD, Figma
              </h4>
              <!-- <div class="percent">
                  <div style="width: 80%;"></div>
              </div> -->
            </div>

            <div class="box" id="database">
              <i class="fa-solid fa-database icon"></i>
              <h4>SQL</h4>
              <!-- <div class="percent">
                  <div style="width: 30%;"></div>
              </div> -->
            </div>

             <!--  <div class="box">
                <h4>
                  <i class="fa-brands fa-php icon"></i>
                  Php - Laravel - Liveware
                </h4>
                <div class="percent">
                    <div style="width: 20%;"></div>
                </div>
            </div> -->

            <!-- <div class="box">
                <h4>Bootstrap</h4>
                <div class="percent">
                    <div style="width: 60%;"></div>
                </div>
            </div> -->





            <!-- <div class="box">
                <h4>ilustrator</h4>
                <div class="percent">
                    <div style="width: 25%;"></div>
                </div>
            </div> -->
          </div>
      </div>

      <div class="about interest">
          <h2 class="title2">PASATIEMPOS</h2>
          <ul>
              <li>Musica</li>
              <li>Guitarra</li>
              <li>Guitarra Electrica</li>
              <li>Ciclo Montañismo</li>
              <li>Natacion</li>
              <li>Gym</li>
              <li>Cine</li>
          </ul>
      </div>
    </div>

  </div>
</div>
