.body-cv{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F2F2F3;
  .container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 300ms ease;
    .left_side{
      position: relative;
      background: #003147;
      padding: 30px;
      .porfileProfesional{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        //background: red;
        .imgBx{
          display: flex;
          justify-content: center;
          align-items: end;
          width: 210px;
          height: 210px;
          border-radius: 50%;
          overflow: hidden;
          background: #fff;
          position: relative;
          /*


          img {
            //position: absolute;
            bottom: 0;
            left: 0;
            ;
          } */
          img{
            /* top: 0;
            left: 0; */
            //height: 100%;
            bottom: -70px;
            width: 95%;
            object-fit: cover;
            position: absolute;
            //transform: translateY(-10);
          }
        }
        h2 {
          color: #fff;
          font-size: 1.2em;
          margin-top: 20px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          line-height: 1.4em;
          // tarjeta profesional

        }
        span{
          font-size: 1.1em;
          text-align: center;
          font-weight: 300;
          line-height: 1em;
          margin-top: 10px;
          color: #fff;
        }
        h5 {
          color: #fff;
          font-size: 1.1em;
          margin-top: 20px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 200;
          line-height: 1.4em;
        }
      }
      .contacInfo-perfilProfesional{
        //background: red;
        padding-top: 40px;
        .title{
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 20px;
        }
        ul{
          position: relative;
          li{
            //background: yellow;
            position: relative;
            list-style: none;
            margin: 10px 0;
            cursor: pointer;
            .icon{
              display: inline-block;
              width: 30px;
              font-size: 18px;
              color: #03a9f4;
            }
            span{
              color: #fff;
              font-weight: 300;
              cursor: default;
              a{
                text-decoration: none;
                color: #fff;
                font-weight: 300;
                cursor: pointer;
              }
            }
          }
        }
      }
      .education{
        li{
          margin-bottom: 15px;
          h5{
            color: aliceblue;
            font-weight: 500;
          }
          h4{
            color: #fff;
            font-weight: 300;
          }
          h4:nth-child(2){
            color: #fff;
            font-weight: 500;
          }
        }
      }
      .language {
        .percent{
          position: relative;
          width: 100%;
          height: 6px;
          background: #081921;
          display: block;
          margin-top: 5px;
          div{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #03a9f4;
          }
        }
      }
    }
    .right_side{
      position: relative;
      background: #fff;
      padding: 40px;

      .about{
        margin-bottom: 50px;
        &:last-child{
          margin-bottom: 0;
        }
        p{
          color: #333;
        }
        // experiencia laboral
        .box {
          display: flex;
          flex-direction: row;
          margin: 20px 0;
          .year_company{
            min-width: 150px;
            h5{
              text-transform: uppercase;
              color: #848c90;
              font-weight: 600;
              text-decoration: none;
              a{
                color: #848c90;
                font-weight: 800;
                list-style: none;
                text-decoration: none;
              }
            }
          }
          .text {
            h4 {
              text-transform: uppercase;
              color: #2a7da2;
              font-size: 16px;
            }
            p{
              color: #000;
              text-decoration: none;
              a{
                font-weight: 600;
                color: #000;
                text-decoration: none;
              }
            }
          }
        }
      }
      /*



      } */
      .aboutSkills {
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        &:last-child{
          margin-bottom: 0;
        }

        /* display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem; */

        .title2{
          color: #003147;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 10px;
          /* grid-area: 1 / 1 / 2 / 4; */
        }

        .skills{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          .box {
            /* position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 150px 1fr;
            justify-content: center;
            align-items: center; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background: transparent;
            .icon{
              padding: 0 5px;
              margin-bottom: .6rem;
              font-size: 1.5rem;
              color: #848c99;
              font-weight: 500;
            }
            h4{
              text-transform: uppercase;
              color: #848c99;
              font-weight: 500;
              font-size: 1rem;
              text-align: center;
            }
            .percent{
              position: relative;
              width: 100%;
              height: 10px;
              background: #797282;
              div{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: #003147;
              }
            }
          }
        }

      }
      .interest {
        ul{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          li{
            list-style: none;
            color: #333;
            font-weight: 500;
            margin: 10px 0;
          }
        }
      }
    }
  }
  /* media querys responsive */
  @media (max-width: 1000px) {
    /* .body-cv{
      .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
        .right_side{
          .interest {
            ul{
              grid-template-columns: repeat(2,1fr);
            }
          }
        }
      }
    } */
    .container{
      margin: 10px;
      grid-template-columns: repeat(1,1fr);
    }

    .interest ul{
      grid-template-columns: repeat(2,1fr);
    }
  }

  @media (max-width: 600px){

    /* .body-cv{
      .container{

        .right_side{
          .abouot {
            .box{
              flex-direction: column;
              .year_company{
                min-width: 150px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    } */

    .container{
      .right_side{
        .laboral{
          .column{
            display: flex;
            width: 100%;
            justify-content: center;
            //align-items: center;
            flex-direction: column;
            //background: yellow;
            .year_company{
              padding: 10px 0px;
              //background: red;
              text-align: start;
              h5{
                font-size: 18px;
              }
            }
            .text{
              h4{
                //background: orange;
                padding: 10px 0px
              }
              p{
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    /* .about .column{

    } */

    /* .abouot .box{
      flex-direction: column;
    } */

    .about .box .year_company{
      min-width: 150px;
      margin-bottom: 5px;
    }
  }
}
