.skillsCompoentes,
.projectComponet{
  display: flex;
  width: 100%;
  /* alineacion horizontal */
  justify-content: center;
  /* alineacion vertical */
  align-items: center;
  //background: red;
  //padding: 5px;
  /* app-projects{
    margin: 0px;
  } */
}
