<app-section-banner></app-section-banner>

<div class="bxTitle">
  <div class="title">
    <h1>Skills</h1>
    <div class="line">
      <hr> <hr class="min">
    </div>
  </div>
</div>

<div class="containerComponent">
  <app-skills></app-skills>
</div>

<div class="bxTitle">
  <div class="title">
    <h1>Projects</h1>
    <div class="line">
      <hr> <hr class="min">
    </div>
  </div>
</div>

<div class="containerComponent">
  <app-projects></app-projects>
</div>





<!-- <div class="skillsCompoentes">
  <app-skills></app-skills>
</div> -->
