/* .container{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(224, 150, 155, 0.4), rgba(203, 169, 177, 0.4)), url(../../../assets/img/card/back2.jpeg);
  //linear-gradient(rgba(224, 150, 155, 0.8), rgba(203, 169, 177, 0.8)),
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


} */

.cardBabyShower{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(224, 150, 155, 0.4), rgba(203, 169, 177, 0.4)), url(../../../assets/img/card/back2.jpeg);
  //linear-gradient(rgba(224, 150, 155, 0.8), rgba(203, 169, 177, 0.8)),
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //linear-gradient(rgba(224, 150, 155, 0.8), rgba(203, 169, 177, 0.8))
    background: rgba(255, 255, 255, 0.5);
    //padding: 1.5em;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 98vh;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: solid 6px #bb575e;
    padding: 10px 0px;
    overflow: hidden;
    //clip-path: polygon(0 100%, 50% 98%, 100% 100%, 96% 51%, 100% 0, 50% 4%, 0 0, 4% 53%);

    .container-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 10px 0px;
      width: 95%;
      height: 160px;
      //background: red;

      h3{
        font-size: 20px;
        text-align: center;
        width: 100%;
        color: #6b6e43;
        font-style: italic;
        font-family: 'Noto Serif TC', serif;
      }

      h1{
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
        text-align: start;
        //margin: 20px;
        clip-path: polygon(100% 0, 91% 50%, 100% 100%, 0 100%, 10% 50%, 0% 0%);
        //border-bottom: solid 3px #bb575e;
        //color: #bb575e;
        background: #bb575e;
        color: #fff;
        width: 300px;
        text-align: center;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
      }
    }

    .container-fecha{
      display: flex;
      width: 90%;
      height: 100px;
      justify-content: space-around;
      align-items: center;
      border-bottom: solid 3px #bd7479;
      //background: yellow;
      //margin-bottom: 20px;
      padding-bottom: 10px;
      .fecha{
        display: flex;
        width: 70%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        border-right: solid 3px #bd7479;
        padding: 5px;
        flex-direction: column;
        //background: orange;
        .fa-calendar-days{
          font-size: 30px;
          color: #8ba283;
          font-weight: 800;
          text-align: center;
        }
        p{
          font-size: 20px;
          color: #5F494B;
          font-weight: 800;
          text-align: center;
        }
      }
      .hora{
        display: flex;
        width: 30%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        flex-direction: column;
        .pi-clock{
          font-size: 30px;
          color: #8ba283;
          font-weight: 800;
          text-align: center;
        }
        p{
          font-size: 20px;
          color: #5F494B;
          font-weight: 800;
          text-align: center;

        }
      }
    }

    .ubicacion{
      display: flex;
      width: 100%;
      //height: 140px;
      justify-content: space-around;
      align-items: center;
      //border-bottom: solid 3px #bd7479;
      //background: purple;
      //margin-bottom: 5px;
      .rose,
      .contentUbicacion{
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
      .contentUbicacion{
        flex-direction: column;
        //background: green;
        .localization{
          display: flex;
          width: 100%;
          padding: 5px 0px;
          //background: yellowgreen;
          justify-content: flex-start;
          align-items: center;
          .fa-map-pin{
            font-size: 30px;
            color: #8ba283;
            font-weight: 800;
            text-align: center;
            padding: 6px;
            margin-right: 2px;
          }
          a.map-pin{
            text-decoration: none;
            color: #5F494B;
            font-size: 18px;
            text-align: start;
          }
        }
        .note{
          display: flex;
          width: 100%;
          padding: 5px 0px;
          //background: yellow;
          justify-content: flex-start;
          align-items: center;
          .fa-gift{
            font-size: 30px;
            color: #8ba283;
            font-weight: 800;
            text-align: center;
            padding: 6px;
            margin-right: 2px;
          }
          p{
            //width: 100%;
            font-size: 18px;
            color: #5F494B;
            font-weight: 800;
            text-align: center;
            font-style: italic;
            margin-top: 5px;
          }
        }
      }
    }

    .container-button{
      display: flex;
      width: 100%;
      //background: green;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 5px;
      position: relative;
      bottom: 0;
      .text{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        //background: yellow;
        padding: 5px 0px;
        p{
          font-size: 18px;
          color: #5F494B;
          font-weight: 800;
          text-align: center;
          //margin: 15px 0px;
          font-style: italic;
        }
      }

      .containerButtonForm{
        display: flex;
        width: 100%;
        //max-height: 100px;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        //padding: 5px;
        //background: yellow;
        transition: all 300ms ease;
        /* &.active{
          max-height: 350px;
          //background: red;
        } */
        .containerAsistencia{
          display: flex;
          //background: orange;
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .asistencia{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            //background: red;
            //padding: 5px 0px;
            p.span{
              font-size: 18px;
              color: #5F494B;
              font-weight: 600;
              font-style: italic;
              text-align: center;
              margin: 15px 0px;
            }
          }

          .buttonIcon{

            display: flex;
            //background: purple;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            align-items: center;
            border: none;
            justify-content: center;transition: all 300ms ease;

            .pi-angle-up{
              font-size: 30px;
              color: #8ba283;
              font-weight: 800;
              text-align: center;
              transition: all 0.4s ease;
              &.active{
                transform: rotate(180deg);
              }
            }
          }
        }

        .buttonAsistencia{
          display: flex;
          width: 100%;
          max-height: 0px;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          //background: yellowgreen;
          //padding: 5px 0px;
          transition: all 0.4s ease;
          flex-direction: column;
          &.active{
            max-height: 570px;
            //background: blue;
          }
          a.button{
            display: flex;
            width: 230px;
            height: 50px;
            text-align: center;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 30px;
            background: #bb575e;
            //color: #5F494B;
            color: #fff;
            font-style: italic;
            margin: 10px 0px;
            font-family: 'Noto Serif TC', serif;
            font-size: 30px;
          }
        }
      }



    }

    /* .card-title{
      position: relative;
      //width: max-content;
      &::after{
        content: "";
        position: absolute;
        height: 4px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: red;
      }
    } */
  }

}

/* @media screen and (min-width: 800px){
  .container{
    .cardBabyShower{
      border-radius: 25px;
      max-width: 500px;
      max-height: 650px;
    }
  }
} */
