.container{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: pink;
  .cardBabyShower{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: rgb(1, 15, 41);
    background: #ffffff8c;
    font-size: 18px;
    padding: 10px;
    h1{
      font-size: 30px;
      text-align: center;
      margin: 30px;
    }
    p{
      text-align: start;
    }
  }
}
