<!-- <div class="container">
</div> -->

<div class="cardBabyShower">
  <div class="card-content">
    <div class="container-avatar"></div>
    <div class="container-title">
      <h3>Acompáñanos a celebrar el baby shower de:</h3>

      <h1>Salomé</h1>
    </div>

    <div class="container-fecha">
      <div class="fecha">
        <i class="fa-solid fa-calendar-days"></i>
        <p>
            Sábado 17 de Junio del 2023
        </p>
      </div>
      <div class="hora">
        <i class="pi pi-clock"></i>
          <p>
              5:00 pm
          </p>
      </div>
    </div>

    <div class="ubicacion">
      <div class="rose">
        <img src="" alt="">
      </div>
      <div class="contentUbicacion">
        <p>
          Calle 7 # 27-25 Nueva Esperanza <br>
          Valledupar, Cesar
        </p>
        <p class="span">
          Regalo opcional
        </p>
      </div>
    </div>
    <!-- <div class="container-text">
      <p>
        TE INVITÓ A QUE ME ACOMPAÑES A CELEBRAR MI BABY SHOWER <br> <br>

        Día Sábado 17 de Junio del 2023 <br>
        Hora 5:00pm <br>
        Lugar Calle 7 # 27-25 Nueva Esperanza 📍Valledupar, Cesar <br> <br>

        NO FALTES, MIS PAPITOS Y YO ESTAREMOS CONTENTOS Y AGRADECIDOS CON TU ACOMPAÑAMIENTO
      </p>
    </div> -->

    <div class="container-button">


      <p>
        NO FALTES, MIS PAPITOS Y YO ESTAREMOS CONTENTOS Y AGRADECIDOS CON TU ACOMPAÑAMIENTO
      </p>

      <p class="span">
        Confirma tú asisitencia
      </p>

      <i class="pi pi-chevron-down"></i>

      <a href="" class="button">
        ¿Asistirás?
      </a>

    </div>
  </div>
</div>

<!--
  @import url('https://fonts.googleapis.com/css2?family=Allura&family=Carlito:ital,wght@0,400;1,400;1,700&family=Cookie&family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Instrument+Serif:ital@0;1&family=Italianno&family=Noto+Serif+TC&family=Pacifico&family=Satisfy&family=Tangerine:wght@400;700&display=swap');

  font-family: 'Allura', cursive;
font-family: 'Carlito', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Italianno', cursive;
font-family: 'Noto Serif TC', serif;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Tangerine', cursive;
 -->

<!--
  padillaloreinis@gmail.com

  https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&FormId=-fMykePRREe7b66nSPwFc612owPt0OtJvxu13LZDpxtUNEhWWUVKTDI1Qk9LUDdFU0dQSERQUzZNRS4u&Token=110431bb5a6641e3ad8505541fe4a428
 -->

<!--

  display: flex;
    flex-direction: column;
    /* width: 400px;
    height: 600px; */
    width: 100%;
    height: 100%;
    //border-radius: 25px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: rgb(1, 15, 41);
    background:  url(/assets/img/card/cardBackground.jpeg), red;
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: center;
    font-size: 18px;
    padding: 10px;
 -->
