<div class="projectContainer">
  <div class="bxTitle">
    <h1>Projects</h1>
  </div>
  <div class="container">
    <div class="cardDinamic">
      <div class="projecCard">
        <div class="posterdProject">
          <img src="assets/img/projects/cocktail.jpeg" alt="">
        </div>
        <!-- <img src="assets/img/projects/cocktail.jpeg" alt=""> -->
        <!-- <div class="detailCard">
          <div class="visit">
            <button>
              view site
            </button>
          </div>
          <div class="title">
            <h1>Cocktail BD</h1>
          </div>
          <div class="detail">
            <button>
              view details
            </button>
          </div>

        </div> -->
      </div>
      <div class="detailProject">
        <div class="content">
          <h1>Details</h1>
          <p>
            consumir api
          </p>
          <div class="icons">
            <a href="">
              <i></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="cardDinamic">
      <div class="projecCard">
        <div class="posterdProject">
          <img src="assets/img/projects/cocktail.jpeg" alt="">
        </div>
        <!-- <img src="assets/img/projects/cocktail.jpeg" alt=""> -->
        <!-- <div class="detailCard">
          <div class="visit">
            <button>
              view site
            </button>
          </div>
          <div class="title">
            <h1>Cocktail BD</h1>
          </div>
          <div class="detail">
            <button>
              view details
            </button>
          </div>

        </div> -->
      </div>
      <div class="detailProject">
        <div class="content">
          <h1>Details</h1>
          <p>
            consumir api
          </p>
          <div class="icons">
            <a href="">
              <i></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="cardDinamic">
      <div class="projecCard">
        <div class="posterdProject">
          <img src="assets/img/projects/cocktail.jpeg" alt="">
        </div>
        <!-- <img src="assets/img/projects/cocktail.jpeg" alt=""> -->
        <!-- <div class="detailCard">
          <div class="visit">
            <button>
              view site
            </button>
          </div>
          <div class="title">
            <h1>Cocktail BD</h1>
          </div>
          <div class="detail">
            <button>
              view details
            </button>
          </div>

        </div> -->
      </div>
      <div class="detailProject">
        <div class="content">
          <h1>Details</h1>
          <p>
            consumir api
          </p>
          <div class="icons">
            <a href="">
              <i></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="cardDinamic">
      <div class="projecCard" [class.active]="showDescription">
        <div class="posterdProject">
          <img src="assets/img/projects/cocktail.jpeg" alt="">
        </div>
        <!-- <img src="assets/img/projects/cocktail.jpeg" alt=""> -->
        <div class="detailCard">
          <div class="visit">
            <button>
              view site
            </button>
          </div>
          <div class="title">
            <h1>Cocktail BD</h1>
          </div>
          <div class="detail">
            <button (click)="toggleButton()">
              view details
            </button>
          </div>

        </div>
        <div class="closeButton">
          <button class="close" (click)="toggleButton()">
            <i class="pi pi-chevron-down"></i>
          </button>
        </div>
      </div>

      <div class="detailProject">
        <!-- <div class="content">

        </div> -->
        <h1>Details</h1>
        <p>
          consumir api
        </p>
        <div class="icons">
          <a href="">
            <i></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- poner ver mas o detaller y aplicar estre efecto
https://www.youtube.com/watch?v=hMitnfIVr9Q -->
