
.container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 20px 0px;
  padding: 30px 0px;
  //background: green;

  .cardDinamic{
    display: flex;
    position: relative;
    width: 400px;
    height: 290px;
    background: var(--base-background-gradient);
    margin: 40px 0px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    .projecCard{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      transition: 0.5s ease;
      &.active{

        height: calc(50% - 20px);
        width: calc(70% - 20px);
        top: -70px;
        .posterdProject{
          img{
            filter: blur(0px);
          }
          &::before{
            display: none;
          }
        }
        .detailCard{
          transition: 0.5s;
          display: none;
        }
        .closeButton{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 5px;
          position: absolute;
          width: 100%;
          bottom: -10px;
          z-index: 3;
          //background: orange;
          transition: all 0.5s ease;
          button.close{
            display: flex;
            border: none;
            background: var(--base-background-gradient-4);
            color: var(--base-background-gradient);
            border-radius: 50%;
            padding: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
      /* ******** card 1 ********* */
      .posterdProject{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        /* width: 350px;
        height: 220px; */
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: blur(2px);
          /* &:hover{
            cursor: pointer;
            //filter: blur(0px);
            filter: blur(2px);
          } */
        }

        &::before{
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60%;
          //background: linear-gradient(0deg, #520092 30%, transparent);
          background: var(--card-gradient);
          transition: 0.5s;
          z-index: 1;
        }
      }

      .detailCard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 5px;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 2;
        //background: orange;
        transition: all 0.5s ease;
        .visit{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 5px;
          //background: orange;
          a.button{
            text-decoration: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            /* width: 120px;
            height: 40px; */
            padding: 5px 15px;
            color: var(--dark-grey);
            background: var(--base-contrast-primary-color);
            border-radius: 10px;
            font-size: 15px;
            text-align: center;
            font-weight: 700;
            cursor: pointer;
          }
        }
        .title{
          display: flex;
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          margin: 0px;
          color: var(--font-color-light);
          padding: 10px;
          //background: yellow;
          h1{
            border-bottom: solid 1px var(--font-color-light);
            font-size: 25px;
          }
        }
        .detail{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: 5px;
          //background: green;
          button{
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            /* width: 120px;
            height: 40px; */
            padding: 5px 10px;
            color: var(--dark-grey);
            background: var(--base-contrast-primary-color);
            border-radius: 10px;
            font-size: 15px;
            text-align: center;
            font-weight: 700;
            cursor: pointer;
          }
        }

      }
      .closeButton{
        display: none;
        /* display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        position: absolute;
        width: 100%;
        bottom: -10px;
        z-index: 3;
        //background: orange;
        transition: all 0.5s ease; */
        /* button.close{
          display: flex;
          border: none;
          background: var(--base-contrast-primary-color);
          color: var(--dark-grey);
          border-radius: 50%;
          padding: 10px;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
        } */
      }
      /* ******** card 1 ********* */
    }

    .detailProject{
      position: absolute;
      width: 100%;
      bottom: 10px;
      height: calc(90% - 15px);
      //background: plum;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      //background: yellow;

      .titleBx{
        display: flex;
        width: 98%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px 0px;
        margin-bottom: 5px;
        //background: lightcoral;
        h1{
          display: flex;
          width: 100%;
          text-align: start;
          color: var(--font-color-light);
          font-size: 20px;
          font-weight: 600;
        }
        hr{
          width: 60%;
          border: none;
          background: var(--base-background-gradient-4);
          height: 3px;
          border-radius: 25px;
        }
      }
      p{
        display: flex;
        width: 98%;
        padding: 5px 0px;
        font-size: 18px;
        font-weight: 500;
        color: var(--font-color-light);
        /* text-align: start;
        font-size: 18px;
        font-weight: 300; */
        //background: greenyellow;
      }
      .list{
        display: flex;
        width: 98%;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        //background: pink;
        ul.listCarecteristic{
          /* display: flex;
          width: 98%;
          flex-direction: column; */
          width: 80%;
          margin: 0;
          padding: 0;
          color: var(--font-color-light);
          //list-style: none;
          list-style-type: disc;
          //display: grid;
          //gap: 1rem;
          //background: orange;
          li{
            margin: 5px 0px;
            font-size: 18px;
            color: var(--font-color-light);
            font-weight: 500;
          }
        }
      }
      .icons{
        display: flex;
        width: 98%;
        justify-content: space-around;
        align-items: center;
        //background: red;
        .textTitle{
          display: flex;
          width: 60%;
          justify-content: space-around;
          align-items: center;
          //background: orange;
          i{
            color: var(--font-color-light);
            font-size: 20px;
          }
          h4{
            color: var(--font-color-light);
            font-size: 20px;
            font-weight: 700;
          }
        }
        .iconRepo{
          display: flex;
          width: 40%;
          justify-content: center;
          align-items: center;
          position: relative;
          a{
            text-decoration: none;
            //position: absolute;
            color: var(--base-contrast-primary-color);
            cursor: pointer;
            i{
              font-size: 40px;
            }
          }
        }
      }
    }

    .detailProject1{
      position: absolute;
      width: 100%;
      bottom: 10px;
      height: calc(90% - 15px);
      background: plum;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      //background: yellow;

      .titleBx{
        display: flex;
        width: 98%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px 0px;
        margin-bottom: 5px;
        //background: lightcoral;
        h1{
          display: flex;
          width: 100%;
          text-align: start;
          color: var(--font-color-light);
          font-size: 20px;
          font-weight: 600;
        }
        hr{
          width: 60%;
          border: none;
          background: var(--base-background-gradient-4);
          height: 3px;
          border-radius: 25px;
        }
      }
      p{
        display: flex;
        width: 98%;
        padding: 5px 0px;
        font-size: 18px;
        font-weight: 500;
        color: var(--font-color-light);
        /* text-align: start;
        font-size: 18px;
        font-weight: 300; */
        //background: greenyellow;
      }
      .list{
        display: flex;
        width: 98%;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        //background: pink;
        ul.listCarecteristic{
          /* display: flex;
          width: 98%;
          flex-direction: column; */
          width: 80%;
          margin: 0;
          padding: 0;
          color: var(--font-color-light);
          //list-style: none;
          list-style-type: disc;
          //display: grid;
          //gap: 1rem;
          //background: orange;
          li{
            margin: 5px 0px;
            font-size: 18px;
            color: var(--font-color-light);
            font-weight: 500;
          }
        }
      }
      .icons{
        display: flex;
        width: 98%;
        justify-content: space-around;
        align-items: center;
        //background: red;
        .textTitle{
          display: flex;
          width: 60%;
          justify-content: space-around;
          align-items: center;
          //background: orange;
          i{
            color: var(--font-color-light);
            font-size: 20px;
          }
          h4{
            color: var(--font-color-light);
            font-size: 20px;
            font-weight: 700;
          }
        }
        .iconRepo{
          display: flex;
          width: 40%;
          justify-content: center;
          align-items: center;
          position: relative;
          a{
            text-decoration: none;
            //position: absolute;
            color: var(--base-contrast-primary-color);
            cursor: pointer;
            i{
              font-size: 40px;
            }
          }
        }
      }
    }

  }
}

@media screen and (min-width: 800px){
  .container{
    flex-direction: row;
    flex-wrap: wrap;
    //margin: 20px;
    padding: 20px 40px;
    max-width: 1200px;
    //width: 1000px;
    //background: yellow;
    //overflow: hidden;
  }
}


/* #462 tarjeta comeva
 #464 tarjeta opcion 2
 #464 opcion
 01800 950
*/
