<!-- <div class="projectContainer">


</div> -->

<div class="container">

  <!-- ***** prueba ****** -->

  <!-- ***** prueba ****** -->

  <!-- ********* card cocktail DB ********* -->
  <div class="cardDinamic"
  data-aos="zoom-in-down"
  data-aos-duration="1000">
    <div class="projecCard" [class.active]="showDescription">
      <div class="posterdProject">
        <img src="assets/img/projects/cocktail.jpeg" alt="">
      </div>
      <!-- <img src="assets/img/projects/cocktail.jpeg" alt=""> -->
      <div class="detailCard">
        <div class="visit">
          <a href="https://oscarmauriciogiraldo.github.io/cocktail-galery/The-Cocktail-DB" class="button">
            view site
          </a>
        </div>
        <div class="title">
          <h1>Cocktail BD</h1>
        </div>
        <div class="detail">
          <button (click)="toggleButton()">
            view details
          </button>
        </div>

      </div>
      <div class="closeButton">
        <button class="close" (click)="toggleButton()">
          <i class="pi pi-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="detailProject">
      <!-- <div class="content">

      </div> -->
      <div class="titleBx">
        <h1>Details</h1>
        <hr>
      </div>
      <p>
        Web portal project catalog of cocktails.
      </p>
      <div class="list">
        <ul class="listCarecteristic">
          <li>Show cocktail catalog</li>
          <li>Cocktail detail</li>
          <!-- <li>Show the cocktails according to the initial letter of their name</li> -->
        </ul>
      </div>
      <div class="icons">
        <div class="textTitle">
          <h4>view code</h4>
          <i class="pi pi-angle-right"></i>
        </div>
        <div class="iconRepo">
          <a href="https://github.com/oscarmauriciogiraldo/cocktail-galery">
            <i class="pi pi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- ********* card cocktail DB ********* -->

</div>

<!-- poner ver mas o detaller y aplicar estre efecto
https://www.youtube.com/watch?v=hMitnfIVr9Q -->
